#watermark {
    color: rgba(128, 128, 128, 0.2); 
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;

    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#watermark p {
    transform: rotate(-30deg);
    font-size: 160px;
}
